/* defining color variables to make theming easier */
:root {
	--link-color: #FF0059;
	/* don't forget to change the "stroke" color in the a:hover selector, broskie */
	--text-hover: #fff;
	--text-color: #E0E0E0;
	--footer-color: #B2B2B2;
	--bg-color: #131313;
	--font-accent: 'Archivo Black', sans-serif;
	/* headers, captions, footers */
	--font-primary: 'Open Sans', sans-serif;
	/* paragraphs, bylines */
}

/* browser defaults reset; setting expectations */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

/* continued expectations setting; establishing healthy boundaries */
body {
	max-width: 45rem;
	min-width: 20rem;
	margin: 0 auto;
	padding-left: 1rem;
	padding-right: 1rem;
	font-family: var(--font-primary);
	font-size: 1rem;
	color: var(--text-color);
	background-color: var(--bg-color);
}

h1,
h2,
h3,
h4 {
	font-family: var(--font-accent);
	letter-spacing: -0.04em;
	padding-bottom: 0.5rem;
}

h1 {
	font-size: 2.25rem;

}

h2 {
	font-size: 1.5rem;
	float: left;
	margin-right: 3rem;
	margin-bottom: 2rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 0.75rem;
	text-transform: uppercase;
}

/* style for captions and some bylines */
.smallcaps {
	font-size: 0.75rem;
	text-transform: uppercase;
}

p {
	font-size: 1.125rem;
	margin-bottom: 1rem;
}

/* 96% of link hover effect courtesy Geoff Graham -- https://codepen.io/geoffgraham */
a {
	background: linear-gradient(to bottom, var(--link-color) 0%, var(--link-color) 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 0.188rem 0.188rem;
	color: var(--text-color);
	text-decoration: none;
	transition: 0.3s;
}

/* someone told me once that I dance like a noodle */
/* match the last six characters in 'stroke' with the hex code in --link-color, bromie lee curtis  */
a:hover {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-1.25rem);}}%3C/style%3E%3Cpath fill='none' stroke='%23FF0059' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
	background-position: 0 100%;
	background-size: auto 0.375rem;
	background-repeat: repeat-x;
	text-decoration: none;
	color: var(--text-hover);
	transition: 0.2s;
}

ul {
	list-style-type: none;
}

li {
	margin-bottom: 1rem;
}

.quote {
	font-style: italic;
	border-left: 0.063rem solid var(--footer-color);
	padding-left: 1rem;
}

.avatar {
	display: block;
	border-radius: 50%;
	border: 0.188rem solid var(--text-color);
	width: 8rem;
	height: 8rem;
	margin-right: 2.25rem;
	margin-bottom: 1.5rem;
}

iframe {
	margin-top: 0.5rem;
	margin-bottom: 1.5rem;
}

#greeting {
	margin-top: 11rem;
	margin-bottom: 11rem;
}

header {
	margin-top: 1rem;
}

section {
	margin-bottom: 7rem;
}

article {
	margin-bottom: 2.5rem;

}

footer {
	margin-top: 4rem;
	margin-bottom: 2rem;
	text-align: left;
}

footer p,
footer a {
	font-size: 0.875rem;
	color: var(--footer-color);
}

/* do better on this selector name, brophamet */
.rightalign {
	text-align: right;
	padding-right: 1rem;
}

.verticalcenter {
	justify-content: center;
}

/* mobile scaling will put everything into a single column */
.column {
	display: flex;
	flex-direction: column;
	width: 100%;
}

/* for our iPhone SE friends */
@media screen and (max-width: 20rem) {
	#greeting {
		margin-top: 5rem;
		margin-bottom: 5rem;
	}
}

@media screen and (min-width: 50rem) {

	/* .column needs to be wrapped in .row before it works.*/
	.row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
	}

	/* splits all columns in one row with equal spacing */
	.column {
		display: flex;
		flex-direction: column;
		flex-basis: 100%;
		flex: 1;
	}

	/* gives a column the width of two columns in a row */
	.double-column {
		display: flex;
		flex-direction: column;
		flex-basis: 100%;
		flex: 2;
	}

	]