/* ===================
table of contents

i. global styles
ii. typography
iii. components
iv. layouts
=================== */


/* ===================
i. global styles
=================== */

:root {
	--link-color: #FF0059;
	/* don't forget to change the "stroke" color in the a:hover selector, broskie */
	--text-hover: #fff;
	--text-color: rgba(224, 224, 224, 1);
	--text-caption-color: rgba(224, 224, 224, 0.5);
	--text-color-thin: rgba(224, 224, 224, 0.1);
	/* paragraphs, bylines */
	--footer-color: #B2B2B2;
	--bg-color: #131313;
	--bg-color-thin: rgba(19, 19, 19, 0.5); /* being used on the secondary nav */
	--font-accent: 'Archivo Black', sans-serif;
	/* headers, captions, footers */
	--font-primary: 'Open Sans', sans-serif;
}

/* browser defaults reset; setting expectations */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

/* continued expectations setting; establishing healthy boundaries */
body {
	font-family: var(--font-primary);
	font-size: 1rem;
	color: var(--text-color);
	background-color: var(--bg-color);
}


/* ===================
ii. typography
=================== */

h1,
h2,
h3,
h4,
.secondary-nav,
.no-link-decor {
	font-family: var(--font-accent);
	letter-spacing: -0.04em;
	padding-bottom: 0.5rem;
}

h1 {
	font-size: 2.25rem;

}

h2 {
	font-size: 1.7rem;
	margin-right: 3rem;
	margin-bottom: 2rem;
}

h3 {
	font-size: 1.5rem;
}

h4,
.secondary-nav,
.no-link-decor {
	font-size: 0.75rem;
	text-transform: uppercase;
}

/* style for captions and some bylines */
.smallcaps {
	color: var(--text-caption-color);
	font-size: 0.75rem;
	letter-spacing: -0.04em;
	text-transform: uppercase;
}

p {
	font-size: 1.125rem;
	line-height: 1.6rem;
	margin-bottom: 1rem;
}

/* 96% of link hover effect courtesy Geoff Graham -- https://codepen.io/geoffgraham */
a {
	background: linear-gradient(to bottom, var(--link-color) 0%, var(--link-color) 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 0.188rem 0.188rem;
	color: var(--text-color);
	text-decoration: none;
	transition: 0.2s ease-in-out;
	padding-bottom: 0.05rem;
}

/* someone told me once that I dance like a noodle */
/* match the last six characters in 'stroke' with the hex code in --link-color, bromie lee curtis  */
a:hover {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-1.25rem);}}%3C/style%3E%3Cpath fill='none' stroke='%23FF0059' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
	background-position: 0 100%;
	background-size: auto 0.375rem;
	background-repeat: repeat-x;
	text-decoration: none;
	text-shadow: 0px 2px 2px rgba(0,0,0,0.2);
	color: var(--text-hover);
	transition: 0.2s ease-in-out;
}

/* created to override link styles on buttons and button-like accessories */
.no-link-decor {
	text-decoration: none;
	background-image: none;
}

.no-link-decor:hover {
	text-decoration: none;
	background-image: none;
}

footer p,
footer a {
	font-size: 0.95rem;
	line-height: 1.3rem;
	color: var(--footer-color);
}

ul {
	list-style-type: round;
}

.no-list-decor {
	list-style-type: none;
}

ol {
	padding-left: 2.5rem;
	color: var(--footer-color);
}

ol li:before {
	
}

li {
	margin-bottom: 1rem;
}

.secondary-nav a {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	line-height: 2rem;
}

.quote {
	font-style: italic;
	font-weight: 300;
	font-family: var(--font-primary);
	border-left: 0.063rem solid var(--footer-color);
	padding-left: 1rem;
}

/* ===================
iii. components
=================== */

.secondary-nav {
	text-align: center;
	position: sticky;
	top: 0px;
	width: 100%;
	padding-top: 0.5rem;
	
	background-color: var(--bg-color);
	z-index: 1000;
}

/* note to self: firefox 90 does not support this. remove once supported. */
@supports ((-webkit-backdrop-filter: blur(1rem)) or (backdrop-filter: blur(1rem))) {
	  .secondary-nav {
		backdrop-filter: blur(1rem);
		-webkit-backdrop-filter: blur(1em);
		background-color: var(--bg-color-thin);
	  }
	}

.avatar {
	display: block;
	border-radius: 50%;
	border: 0.188rem solid var(--text-color);
	width: 8rem;
	height: 8rem;
	margin-right: 2.25rem;
	margin-bottom: 1.5rem;
}

.btn {
	background-color: none;
	padding: 0.3rem 0.5rem;
	border-radius: 3px;
	border: none;
	transition: 0.1s ease-in;
}

.btn:hover {
	background-color: var(--text-color-thin);
	transition: 0.1s ease-in;
}

input,
textarea {
	margin-left: 1rem;
	padding: 0.5rem;
	border-radius: 0.125rem;
	border-style: none;
}

iframe {
	margin-top: 0.5rem;
	margin-bottom: 1.5rem;
}

form {
	display: table;
}

form p {
	display: table-row;
}

label,
input,
textarea {
	display: table-cell;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.img-row img {
	max-height: 25rem;
	object-fit: contain;
	margin: 1.72rem;
}

/* ===================
iv. layouts
=================== */

.container {
	margin: 0 auto;
	max-width: 49rem;
	min-width: 20rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

.greeting {
	margin-top: 7rem;
	margin-bottom: 6rem;
}

header {
	width: 100%;
}

section {
	padding-top: 2rem;
	margin-bottom: 5rem;
}

article {
	margin-bottom: 2.5rem;

}

footer {
	margin-top: 4rem;
	margin-bottom: 2rem;
	text-align: left;
}

/* do better on this selector name, brophamet */
.rightalign {
	text-align: right;
	padding-right: 1rem;
}

/* created for the footer */
.verticalcenter {
	justify-content: center;
}

/* mobile scaling will put everything into a single column */
.column {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.img-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	max-width: 90rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/* for our iPhone SE friends */
@media screen and (max-width: 20rem) {
	.greeting {
		margin-top: 5rem;
		margin-bottom: 5rem;
	}
}

@media screen and (min-width: 40rem) {

	/* .column needs to be wrapped in .row before it works.*/
	.row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	/* splits all columns in one row with equal spacing */
	.column {
		display: flex;
		flex-direction: column;
		flex-basis: 100%;
		flex: 1;
	}

	/* gives a column the width of two columns in a row */
	.double-column {
		display: flex;
		flex-direction: column;
		flex-basis: 100%;
		flex: 2;
	}
	
]