<!DOCTYPE html>
<html lang="en-US">
	<head>
	
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="{{ site.author }}">
		<meta name="description" content="{{ site.description }}">
		
		<title>{{ title }} | {{ site.title }}</title>
		<link rel="icon" href="/favicon.ico" sizes="any">
		<link rel="icon" href="/icon.svg" type="image/svg+xml">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#FF0059">
		<link rel="manifest" href="/manifest.webmanifest">
		
		<link rel="preload" as="style" onload="this.rel = 'stylesheet'" href="{{ '/style/style.css' | url | bust }}">
		<noscript>
			<link rel="stylesheet" type="text/css" href="{{ '/style/style.css' | url | bust }}">
		</noscript>
		<link rel="preload" as="style" onload="this.rel = 'stylesheet'" href="{{ '/style/jshbrtz.css' | url | bust }}">
		<link rel="preload" as="style" onload="this.rel = 'stylesheet'" href="{{ 'https://use.typekit.net/pnx3xoi.css' | url | bust }}">
	
	</head>
	<body>
		
		<main>
	
		{{ content | safe }}
		
		</main>
		
		<footer>
			<section id="footer" class="row">
				<div class="row container-narrow">
					<div class="column">
						<p class="subnote">© 2022 Joshua Bartz<br>
						<a href="/colophon">Colophon</a></p>
					</div>
				</div>
			</section>
		</footer>
	
	</body>
</html>