<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ description }}">
	<meta property="og:title" content="{{ title }}, by {{ site.author }}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
	<!-- <meta property="og:image" content="" /> -->
	<title>{{ title }} | {{ site.title }}</title>
	<link rel="icon" href="{{ '/favicon.png' | url | bust }}" type="image/svg+xml">
	<link rel="preload" as="style" onload="this.rel = 'stylesheet'" href="{{ '/style/style.css' | url | bust }}">
	<noscript>
		<link rel="stylesheet" type="text/css" href="{{ '/style/style.css' | url | bust }}">
	</noscript>
	<link rel="preload" as="style" onload="this.rel = 'stylesheet'" href="{{ '/style/jshbrtz.css' | url | bust }}">
	<link rel="preconnect" href="https://fonts.googleapis.com"> 
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;900&family=Noto+Serif:ital@1&family=Space+Mono&display=swap" rel="stylesheet">
</head>
<body>
	<main class="grid">
		{{ content | safe }}
	</main>
	<footer class="row container">
		<p>Copyright {% copyrightyear %} {{ site.author }}</p>
		<p class="r-align">
			<a href="../posts/2022-06-26-design-and-development-tools/">Uses</a> • <a href="/colophon">Colophon</a>
		</p>
	</footer>
<!-- Designed and coded by {{ site.author }} -->
</body>
</html>