{% set assetHash = global.random() %}
<!DOCTYPE html>
<html lang="en-US">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Joshua Bartz">
	<meta name="description" content="A portfolio of sorts by Joshua Bartz, an ethics-forward, strategy-building user experiece designer living in Charlotte, NC.">
	
	<title>{{ title }}</title>
	<link rel="icon" href="/favicon.ico" sizes="any">
	<link rel="icon" href="/icon.svg" type="image/svg+xml">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#FF0059">
	<link rel="manifest" href="/manifest.webmanifest">
	
	<link rel="stylesheet" type="text/css" href="/style/style.css">
	<link rel="stylesheet" href="https://use.typekit.net/hxz8dyd.css">

</head>

	<body>
		
		<main>
	
		{{ content | safe }}
		
		</main>
		
		<footer>
			<section id="footer" class="row">
				<div class="row container-narrow">
					<div class="column">
					</div>
					<div class="double-column">
						<h4>Made with <span alt="tacos"> &#127790;</span> in Charlotte, NC.</h4>
						<span class="subnote"><a href="./colophon">Colophon</a></span>
					</div>
				</div>
			</section>
		</footer>
	
	</body>

</html>