---
layout: layouts/base.html
permalink: "posts/{{ page.date | urlDate }}-{{ title | slugify }}/index.html"
description: "{{ description }}"
---

{% include "partials/primary-nav.html" %}

<section id="heading" class="greeting">
	<div class="row container-narrow">
			<header>
				<h1>{{ title }}</h1>
				<p class="subheading"><time datetime={{ page.date }}">{{ page.date | readableDate }}</time> &#8212; {{ content | emojiReadTime }}</p>
			</header>
	</div>
</section>
<section id="post-body">
	<div class="row container-narrow">
		<div class="double-column">
			
			{{ content | safe }}
			
		</div>
	</div>
</section>
<section id="recent-posts">
	<div class="row container-narrow">
		<div class="double-column">
			<h2>Recent posts</h2>
			{% include "partials/blogroll.html" %}
		</div>
	</div>
</section>