---
layout: layouts/base.html
permalink: "posts/{{ page.date | urlDate }}-{{ title | slugify }}/index.html"
---

{% include "partials/primary-nav.html" %}

<section id="heading" class="greeting">
	<div class="container-narrow">
			<header>
				<h1>{{ title }}</h1>
				<p class="subheading">Posted on <time datetime={{ page.date }}">{{ page.date | readableDate }}</time><br>{{ content | emojiReadTime }}</p>
			</header>
	</div>
</section>

<section id="post-body">
	<div class="row container-narrow">
		<div class="double-column">
			
			{{ content | safe }}
			
		</div>
	</div>
</section>