---
layout: layouts/base.html
permalink: "posts/{{ page.date | urlDate }}-{{ title | slugify }}/index.html"
description: "{{ description }}"
---

{% include "partials/primary-nav.html" %}

<section id="heading" class="greeting">
	<div class="row container">
		<header>
			<h1>{{ title }}</h1>
			<p><span class="subheading">{{ description }}</span><br />
			<span class="subnote"><time datetime={{ page.date }}">{{ page.date | readableDate }}</time> • {{ content | emojiReadTime }}</span></p>
		</header>
	</div>
</section>
<section id="post-body">
	<div class="row container">
		{{ content | safe }}
	</div>
</section>
<section id="recent-posts">
	<div class="row container">
		<h2>Recent posts</h2>
		{% include "partials/blogroll.html" %}
	</div>
</section>