/* ===================
table of contents

i. global styles
ii. typography
iii. components
iv. layouts
=================== */


/* ===================
i. global styles
=================== */

:root {
	--link-color: #FF0059;
	/* don't forget to change the "stroke" color in the a:hover selector, broskie */
	--text-hover: #fff;
	--heading-color: rgba(225, 225, 225, 1);
	--text-color: rgba(226, 226, 226, 1);
	--text-caption-color: rgba(225, 225, 225, 0.6);
	--text-color-thin: rgba(219, 219, 219, 0.1);
	/* paragraphs, bylines */
	--footer-color: rgba(203, 203, 203, 1);
	--bg-color: rgb(12, 7, 29);
	--bg-color-thin: rgba(12, 7, 29, 0.5); /* being used on the secondary nav */
/* 	--font-accent: 'termina', sans-serif; */
	--font-accent: 'effra', sans-serif;
	/* headers, captions, footers */
	--font-primary: 'effra', sans-serif;
}

/* browser defaults reset; setting expectations */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
	-webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

/* continued expectations setting; establishing healthy boundaries */
body {
	font-family: var(--font-primary);
	font-size: 1rem;
	color: var(--text-color);
	background-color: var(--bg-color);
}


/* ===================
ii. typography
=================== */

h1,
h2,
h3,
h4,
.secondary-nav,
.no-link-decor {
	font-family: var(--font-accent);
	font-weight: 700;
	font-style: normal;
	color: var(--heading-color);
}

h1 {
	font-size: 1.8rem;
}

h2 {
	font-size: 1.4rem;
	margin-right: 3rem;
	margin-bottom: 2rem;
	line-height: 1.8rem;
}

h3 {
	font-family: var(--font-primary);
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
}

h4,
.secondary-nav,
.no-link-decor {
	font-size: 0.9rem;
}

.subheading {
	font-size: 1.2rem;
	letter-spacing: -0.02em;
}

/* style for captions and some bylines */
.smallcaps {
	color: var(--text-caption-color);
	font-size: 1rem;
	font-weight: 400;
}

p,
ul {
	font-size: 1.1rem;
	line-height: 1.7rem;
	margin-bottom: 1.4rem;
	font-weight: 300;
}

strong {
	color: var(--text-hover);
	font-weight: 500;
}

/* 96% of link hover effect courtesy Geoff Graham -- https://codepen.io/geoffgraham */
a {
	background: linear-gradient(to bottom, var(--link-color) 0%, var(--link-color) 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 0.188rem 0.188rem;
	color: var(--text-color);
	text-decoration: none;
	transition: 0.2s ease-in-out;
	padding-bottom: 0.05rem;
}

/* someone told me once that I dance like a noodle */
/* match the last six characters in 'stroke' with the hex code in --link-color, bromie lee curtis  */
/* .showoff is used exclusively on the colophon */
a:hover,
.showoff {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-1.25rem);}}%3C/style%3E%3Cpath fill='none' stroke='%23FF0059' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
	background-position: 0 100%;
	background-size: auto 0.375rem;
	background-repeat: repeat-x;
	text-decoration: none;
	text-shadow: 0px 2px 2px rgba(0,0,0,0.2);
	color: var(--text-hover);
	transition: 0.2s ease-in-out;
}

/* created to override link styles on buttons and button-like accessories */
.no-link-decor {
	text-decoration: none;
	background-image: none;
}

.no-link-decor:hover {
	text-decoration: none;
	background-image: none;
}

footer p,
footer a,
.subnote,
figcaption {
	font-size: 0.9rem;
	line-height: 1.3rem;
	color: var(--footer-color);
}

ul {
	list-style-type: round;
}

ol {
	padding-left: 2.5rem;
	color: var(--footer-color);
}

li {
	margin-bottom: 0.6rem;
}

/* used primarily on the playlists page */
.chrono-lists li{
	margin-bottom: 3rem;
	height: 8rem;
}

.no-list-decor {
	list-style-type: none;
}

.secondary-nav a {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	line-height: 2rem;
}

.quote,
figcaption {
	font-style: italic;
	font-weight: 300;
	font-family: var(--font-primary);
}

.quote {
	border-left: 0.063rem solid var(--footer-color);
	padding-left: 1rem;
}

/* ===================
iii. components
=================== */

.secondary-nav {
	text-align: left;
	position: sticky;
	top: 0px;
	width: 100%;
	padding-top: 0.5rem;
	background-color: var(--bg-color);
	z-index: 1000;
	min-height: 3rem;
}

/* note to self: firefox 90 (unreleased) does not support this. remove once supported. */
@supports ((-webkit-backdrop-filter: blur(1rem)) or (backdrop-filter: blur(1rem))) {
	  .secondary-nav {
		backdrop-filter: blur(0.8rem);
		-webkit-backdrop-filter: blur(0.6em);
		background-color: var(--bg-color-thin);
	  }
	}

.avatar {
	justify-content: flex-start;
	border-radius: 50%;
	border: 0.15rem solid var(--text-color);
	width: 5rem;
	height: 5rem;
	margin-right: 2rem;
}

.btn,
.btn-icon {
	background-color: none;
	border-radius: 0.188rem;
	border: none;
	transition: 0.1s ease-in;
	width: fit-content;
}

.btn {
	padding: 0.3rem 0.5rem;
}

.btn-icon {
	border-radius: 50%;
	border: none;
	width: 2rem;
	height: 2rem;
	transition: 0.1s ease-in;
	vertical-align: center;
	text-align: center;
}

.icon-back:before {
	content: "\2b60";
	align-content: center;
	vertical-align: middle;
	font-size: 0.5rem;
	color: var(--text-color);
}

.status {
	display: inline-block;
	border-radius: 50%;
	width: 0.4rem;
	height: 0.4rem;
	background-color: rgba(32, 247, 47, 0.8);
	margin-left: 0.01rem;
	margin-right: 0.4rem;
	margin-bottom: 0.1rem;
}

.btn:hover,
.btn-icon:hover,
.available:hover {
	background-color: var(--text-color-thin);
	color: var(--text-hover);
	transition: 0.1s ease-in;
	cursor: pointer;
}

.l-align {
	float: left;
}

.r-align{
	float: right;
}

.img-row img,
.img-row video {
	max-height: 25rem;
	max-width: 100%;
	object-fit: contain;
}

figure {
	display: table;
	margin: 1rem;
}

figure video {
	display: block;
}

figcaption {
	padding-top: 0.5rem;
	display: table-caption;
	caption-side: bottom;
}

.album {
	width: 8rem;
	height: 8rem;
	float: left;
	margin-right: 1rem;
}

/* ===================
iv. layouts
=================== */

/* used only on index page. save the real width for case studies. */
.container-narrow {
	margin: 0 auto;
	max-width: 42rem;
	min-width: 20rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

.container {
	margin: 0 auto;
	max-width: 49rem;
	min-width: 20rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

#page-nav {
	margin: 0 auto;
	max-width: 55rem; /* this should match .container max-width */
	padding-left: 1rem;
	padding-right: 1rem;
}

.greeting {
	margin-top: 7rem;
	margin-bottom: 3rem;
}

header {
	width: 100%;
}

section {
	padding-top: 2rem;
	margin-bottom: 5rem;
}

article {
	margin-bottom: 2.5rem;

}

footer {
	margin-top: -2rem;
	margin-bottom: 2rem;
	text-align: left;
}

/* do better on this selector name, brophamet */
.rightalign {
	text-align: right;
	padding-right: 1rem;
}

/* mobile scaling will put everything into a single column */
.column {
	display: flex;
	flex-direction: column;
	width: 100%;
}

/* mobile scaling prevents images from rolling off the sides */
.img-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	margin: 0 auto;
	max-width: 100%;
}

/* for our iPhone SE friends */
@media screen and (max-width: 26rem) {
	.greeting {
		margin-top: 5rem;
		margin-bottom: 5rem;
	}
	
	.avatar {
/* 		align-self: flex-start; */
/* 		padding-bottom: 5.5rem; */
	}
	
}

@media screen and (min-width: 40rem) {

	/* .column needs to be wrapped in .row before it works.*/
	.row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	/* splits all columns in one row with equal spacing */
	.column {
		display: flex;
		flex-direction: column;
		flex-basis: 100%;
		flex: 1;
	}

	/* gives a column the width of two columns in a row */
	.double-column {
		display: flex;
		position: relative;
		flex-direction: column;
		flex-basis: 100%;
		flex: 2;
	}
	
	.img-row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
		margin: 0 auto;
		max-width: 95rem;
	}
	
	/* .img-row img {
		max-height: 25rem;
		object-fit: contain;
		margin: 1.5rem;
	} */