/* ===================
table of contents

i. global styles
ii. typography
iii. components
iv. layouts
=================== */

/* ===================
i. global styles
=================== */

/* browser defaults reset; setting expectations */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
	-webkit-text-size-adjust: 100%;
	/* Prevent font scaling in landscape while allowing user zoom */
	scroll-behavior: smooth;
}

:root {
	--font-heading: 'Noto Sans', sans-serif;
	--font-primary: 'Noto Sans', Helvetica, Arial, sans-serif;
	--font-italic: 'Noto Serif', serif;
	--font-accent: 'Space Mono', Menlo Regular, Lucida Sans Typewriter, monospace;
	--size-xxl: 2.074rem;
	/* h1 */
	--size-xl: 1.728rem;
	/* h2 */
	--size-lg: 1.44rem;
	/* h3 */
	--size-md: 1.2rem;
	/* p */
	--size-sm: 1.125rem;
	--size-xs: 1rem;
	/* subnote, figcaption, subheading */
	--size-xxs: 0.889rem;
	/* code, a-icons */
	--size-xxxs: 0.444rem;
	--gradient: linear-gradient(217deg, var(--cyan-color), hsla(192, 100%, 55%, 0) 70.71%),
		linear-gradient(127deg, var(--magenta-color), hsla(339, 100%, 50%, 0) 70.71%),
		linear-gradient(336deg, var(--yellow-color), hsla(55, 100%, 55%, 0) 70.71%);
	--magenta-color: hsl(339, 100%, 50%);
	--yellow-color: hsl(55, 100%, 55%);
	--cyan-color: hsl(192, 100%, 55%);
	--text-hover: rgba(64, 64, 64, 1);
	--text-color: rgba(33, 33, 33, 1);
	--text-color-thin: rgba(64, 64, 64, 1);
	--footer-color: rgba(84, 84, 84, 1);
	--btn-bg-color: hsla(0, 0%, 91%, 1);
	--bg-color: rgb(255, 255, 255);
	--bg-color-thin: rgba(255, 255, 255, 0.7);
	/* being used on the secondary nav */
}

@media (prefers-color-scheme: dark) {
	:root {
		--text-hover: rgba(237, 237, 237, 1);
		--text-color: rgba(226, 226, 226, 1);
		--text-color-thin: rgba(188, 188, 188, 1);
		--footer-color: rgba(175, 175, 175, 1);
		--btn-bg-color: hsl(251, 52%, 20%);
		--bg-color: rgb(8, 5, 21);
		--bg-color-thin: rgba(8, 5, 21, 0.5);
	}
}

/* continued expectations setting; establishing healthy boundaries */
body {
	font-family: var(--font-primary);
	font-size: var(--size-sm);
	line-height: 1.6;
	color: var(--text-color);
	background-color: var(--bg-color);
}

/* ===================
ii. typography
=================== */

p,
h1,
h2,
h3 {
	overflow-wrap: break-word;
}

h1,
h2,
h3 {
	font-family: var(--font-heading);
	font-style: normal;
	font-weight: 900;
	letter-spacing: -0.015em;
	line-height: 1.4;
}

h1 {
	font-size: var(--size-xxl);
	margin-bottom: var(--size-xxxs);
}

h2 {
	font-size: var(--size-xl);
	margin-bottom: var(--size-xxxs);
}

h3 {
	font-size: var(--size-lg);
	margin-bottom: var(--size-xxxs);
}

p {
	font-size: var(--size-md);
	margin-bottom: var(--size-lg);
	max-width: 60ch;
}

.sticky-nav {
	font-size: var(--size-xxs);
}

strong {
	color: var(--text-hover);
	font-weight: 500;
}

em {
	font-family: var(--font-italic);
	color: var(--text-hover);
}

a {
	color: inherit;
	text-decoration: underline;
	text-decoration-thickness: 0.1rem;
	text-decoration-color: var(--magenta-color);
	text-underline-offset: 0.1em;
	transition: 0.1s ease;
}

a:hover {
	color: var(--text-hover);
	text-decoration-thickness: 0.13rem;
	text-underline-offset: 0.15rem;
	transition: 0.1s ease;
}

.subheading {
	font-size: var(--size-md);
	font-family: var(--font-primary);
	color: var(--footer-color);
	font-weight: 500;
}

.subnote a,
footer a {
	text-decoration-thickness: 0.07em;
	text-decoration-color: var(--text-color-thin);
	text-underline-offset: 0.1em;
}

.subnote a:hover,
footer a:hover {
	color: var(--text-hover);
	text-decoration-thickness: 0.1rem;
	text-underline-offset: 0.1rem;
	transition: 0.5s ease;
}

/* override link styles on buttons and button-like accessories */
.no-link-decor,
.no-link-decor:hover,
.no-link-decor:focus {
	text-decoration: none;
	text-decoration-color: transparent;
}

.subnote,
figcaption,
footer p {
	font-size: var(--size-xxs);
	line-height: 1.5rem;
	font-family: var(--font-accent);
	margin-bottom: 0.1rem;
}

.subnote {
	margin-bottom: 0.1rem;
	padding-bottom: 0.1rem;
}

*::selection {
	color: var(--text-hover);
	background-color: var(--cyan-color);
	-webkit-text-fill-color: var(--text-hover);
	/* overrides the "transparent" fill for .highlight-anim-text */
}

.highlight,
.highlight-anim {
	width: fit-content;
	width: -moz-fit-content;
	border-radius: 2px;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
	padding-bottom: 0.05em;
}

.highlight {
	color: var(--bg-color);
	background-color: var(--magenta-color);
}

.highlight-anim-text {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.highlight-anim,
.highlight-anim-text {
	color: var(--text-color);
	background-size: 400%;
	background-color: var(--bg-color);
	background-image: var(--gradient);
	animation: background-animation 45s infinite;
}

@keyframes background-animation {
	0% {
		background-position: left
	}

	50% {
		background-position: right
	}

	100% {
		background-position: left
	}
}

@media (prefers-color-scheme: dark) {
	.highlight {
		color: var(--text-color);
	}

	*::selection {
		color: var(--bg-color);
		background-color: var(--cyan-color);
	}

	.highlight-anim {
		color: var(--bg-color);
		background-color: var(--text-color);
	}

	.highlight-anim-text {
		color: var(--bg-color);
		background-color: var(--text-color);
	}
}

ul {
	list-style-type: round;
}

ol {
	padding-left: 2.5rem;
	color: var(--footer-color);
}

li {
	margin-bottom: var(--size-xs);
}

/* used primarily on the playlists page */
.chrono-lists li {
	margin-bottom: 3rem;
	height: 8rem;
}

.no-list-decor {
	list-style-type: none;
}

.quote,
figcaption {
	font-style: italic;
	font-weight: 300;
	font-family: var(--font-primary);
}

.quote {
	border-left: 0.063rem solid var(--footer-color);
	padding-left: 1rem;
}

code {
	font-family: var(--font-accent);
	font-size: var(--size-xxs);
	color: var(--text-hover);
	background-color: var(--btn-bg-color);
	border-radius: 0.188rem;
	padding: 0.2rem 0.3rem;
	transition: 0.1s ease-in;
	width: fit-content;
	margin-left: 0.1rem;
	margin-right: 0.1rem;
}

/* ===================
iii. components
=================== */

.avatar {
	border-radius: 2px;
	width: 10rem;
	height: 10rem;
	margin-bottom: 2.5rem;
	box-shadow: 0.3rem 0.3rem var(--cyan-color);
}

.btn,
.btn-icon {
	display: inline-block;
	box-shadow: 0.3rem 0.3rem var(--magenta-color), 0.2rem 0.2rem var(--magenta-color), 0.1rem 0.1rem var(--magenta-color), 0.05rem 0.05rem var(--magenta-color);
	font-family: var(--font-accent) !important;
	border: 1px solid var(--text-color);
	background-color: var(--bg-color);
	transition: 0.1s ease-in;
	text-align: center;
	vertical-align: middle;
}

.btn {
	border-radius: 2px;
	padding: 0.2rem 0.5rem;
	width: fit-content;
}

.btn-icon {
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
	transition: 0.1s ease-in;
	padding-top: 0.15rem;
}

.btn:hover,
.btn:focus,
.btn-icon:hover,
.btn-icon:focus {
	background-color: var(--text-color);
	color: var(--bg-color);
	box-shadow: 0.3rem 0.4rem var(--magenta-color);
	transform: translateY(-0.1rem);
	transition: 0.1s ease-in;
	cursor: pointer;
}

.sticky-nav .btn,
.sticky-nav .btn-icon,
.sticky-nav .btn:hover,
.sticky-nav .btn:focus,
.sticky-nav .btn-icon:hover,
.sticky-nav .btn-icon:focus {
	box-shadow: none;
	border: transparent;
}

/* adds external link icon to all outbound links */
a[href^="http://"]:after,
a[href^="https://"]:after,
.icon-external2:before {
	content: '\e803';
	display: inline-block;
	font-family: jshbrtz;
	font-size: 0.7rem;
	vertical-align: middle;
	padding-left: 0.25rem;
	transform: translateY(-0.07rem);
}

/* adds a sassy postage stamp to all mailto links */
a[href^="mailto"]:after,
.icon-stamp:before {
	content: '\e804';
	display: inline-block;
	font-family: jshbrtz;
	font-size: 1rem;
	vertical-align: middle;
	padding-left: 0.25rem;
	transform: translateY(-0.15rem);
}

/* TODO -- figure out why the icon sizes are so amazingly inconsistent. */
.icon-back,
.icon-external,
.icon-forward {
	font-size: 0.6rem;
}

.icon-glasses:before {
	display: inline-block;
	content: '\e801';
	transform: translateY(-0.1rem);
	font-size: 0.5rem;
}

.icon-postcard:before {
	display: inline-block;
	content: '\e805';
	transform: translateY(-0.15rem);
	font-size: 0.7rem;
}

.icon-back:before {
	content: '\e800';
}

.icon-forward:before {
	display: inline-block;
	content: '\e802';
	transform: translateY(-0.15rem);
}

.callout {
	box-shadow: 0.3rem 0.3rem var(--yellow-color);
	font-family: var(--font-accent) !important;
	border: 1px solid var(--text-color);
	background-color: var(--bg-color);
	border-radius: 2px;
	padding: 0.8rem 1rem;
	max-width: 60ch;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
}

.callout p {
	margin-bottom: unset;
}

.l-align {
	justify-self: left;
}

.r-align {
	justify-content: right;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

.img-row img,
.img-row video {
	max-height: 25rem;
	object-fit: contain;
}

figure {
	display: table;
	margin: 1rem;
}

figure video {
	display: block;
}

figcaption {
	padding-top: 0.5rem;
	display: table-caption;
	caption-side: bottom;
}

.album {
	width: 7rem;
	height: 7rem;
	float: left;
	margin-right: 1rem;
}

/* ===================
iv. layouts
=================== */

main > * + * {
	margin-top: 6rem;
}

main {
	margin-bottom: 6rem;
}

footer {
	display: flex;
	margin-bottom: 3rem;
}

.greeting {
	margin-top: 8rem;
}

.wrapper {
	display: grid;
	grid-template-columns: [full-start] 1fr [wrapper-start] minmax(0, 42rem) [wrapper-end] 1fr [full-end];
	gap: 0 var(--pad, 1rem);
}

.wrapper > * {
	grid-column: wrapper;
	margin-block-start: var(--pad);
}

.wrapper > :is(h1, h2) + p {
	margin-block-start: calc(var(--pad) * 0.5);
}

.full-width {
	grid-column: full;
	grid-auto-columns: repeat(8, 1fr);
	width: 85vw;
	margin-left: 50%;
	transform: translate3d(-50%, 0, 0);
	justify-content: center;
}

.grid-thirds {
	display: inline-grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 0.5rem;
	margin-bottom: 3;
	width: 100%;
}

.grid-column {
	grid-column: 1;
	width: 100%;
}

.grid-double-column {
	grid-column: 2 / span 2;
	width: 100%;
}

.sticky-nav {
	display: flex;
	flex-direction: row;
	position: sticky;
	align-items: baseline;
	justify-content: space-between;
	width: 100%;
	margin-left: 50%;
	transform: translate3d(-50%, 0, 0);
	top: 0px;
	padding-top: 0.6rem;
	/* padding-right: 0.5rem; */
	z-index: 1000;
	max-height: 2.4rem;
}

nav {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

footer div {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
	width: 100%;
}

.nav-logo {
	margin-top: 0px;
	display: inline;
	white-space: nowrap;
	padding-top: 1rem;
	padding-bottom: 0.5rem;
	padding-left: 0.3rem;
	padding-right: 0.3rem;
	border-radius: 2px;
	font-family: var(--font-accent);
}

.logo-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-top: 3rem;
	gap: 3rem;
}

.logo-row img {
	max-width: 8rem;
	max-height: 4rem;
	object-fit: contain;
}

/* tablet and desktop */
@media screen and (min-width: 26.1rem) {

	.sm-view {
		display: none;
	}
	
	.lg-view {
		display: inline;
	}
}

/* mobile */
@media screen and (max-width: 26rem) {
	
	/* these classes toggle objects between desktop and mobile.
	currently used to shrink .nav-logo on pages with several nav items on mobile */
	
	.sm-view {
		display: inline;
	}
	
	.lg-view {
		display: none;
	}
}