---
title: "How I work"
layout: 'layouts/base.html'
permalink: "how/"
description: A primer on how I work, who I've worked with, and what others have said about me.
---

{% include "partials/primary-nav.html" %}

<section id="heading" class="greeting">
	<header>
		<h1>{{ title }}</h1>
		<p class="subheading">A primer on how I work, who I've worked with, and what others have said. If you're interested in the tools I generally use, <a href="../posts/2022-06-26-design-and-development-tools/">look no further</a>.</p>
	</header>
</section>
<section id="principles">
	<h2>Principles to shipping valuable work</h2>
	<p></p>
	<h3>1. Finding the right problems requires listening</h3>
	<p>Understanding our clients and customers is the bedrock of my practice. Impartial research empowers us to ship the best outcomes. It helps us frame what we're looking for in feedback and challenges us to remain impartial to our work.</p>
	<h3>2. Internal partnerships are a must</h3>
	<p><em>Everyone can be a subject matter expert.</em> I take pride in my reputation of partnering with Engineers, QA Testers, Product Managers and Owners, Product Marketing, and front-lines staff working at every touchpoint of the customer journey. I open the door to feedback from all corners.</p>
	<h3>3. The process must be adaptable</h3>
	<p>Each project has different requirements. One may require extensive research and deliverables, another may not have an accommodating deadline. My aim is not to etch our process in stone, but to adapt my approach to the needs of the project and our delivery teams. And most importantly: we iterate, iterate, iterate.</p>
</section>
<section id="where-my-work-lives">
	<h2>Where my work lives</h2>
	<p>I'm inspired to lift up those working to improve and grow themselves and their communities. Theirs are the problems I want to continue solving for.</p>
	<p>However, my work is used on millions of devices all over the globe <em>and</em> the <a href="https://twitter.com/jamfsoftware/status/778617416209272833">International Space Station</a> &mdash; literally out of this world. I've taken feedback and delivered on it for some amazing organizations, including:</p>
	<div class="full-width">
		<div class="logo-row">
			<picture>
				<source srcset="../img/logos/apple-d.svg" media="(prefers-color-scheme:dark)">
				<img src="../img/logos/apple.svg" alt="Apple Inc">
			</picture>
			<picture>
				<source srcset="../img/logos/pixar-d.svg" media="(prefers-color-scheme:dark)">
				<img src="../img/logos/pixar.svg" alt="Pixar">
			</picture>
			<picture>
				<source srcset="../img/logos/lucasfilm-d.svg" media="(prefers-color-scheme:dark)">
				<img src="../img/logos/lucasfilm.svg" alt="Lucasfilm">
			</picture>
			<picture>
				<img src="../img/logos/nasa.svg">
			</picture>
			<picture>
				<source srcset="../img/logos/ibm-d.svg" media="(prefers-color-scheme:dark)">
				<img src="../img/logos/ibm.svg" alt="IBM">
			</picture>
			<picture>
				<source srcset="../img/logos/osu-d.svg" media="(prefers-color-scheme:dark)">
				<img src="../img/logos/osu.svg" alt="The Ohio State University">
			</picture>
			<picture>
				<img src="../img/logos/sap.svg" alt="SAP">
			</picture>
		</div>
	</div>
</section>
<section id="recommendations">
	<h2>Recommendations</h2>
	<p>Some amazing and inspiring people wrote some very kind words about me. These are <a href="https://www.linkedin.com/in/jshbrtz/#recommendations">just a few</a> of my favorites.</p>
	<div class="grid-thirds">
		<div class="grid-column">
			<h3>Krzysztof Jendrzok</h3>
			<p class="subnote">Senior User Experience Designer<br>
				Jamf Software</p>
		</div>
		<div class="grid-double-column">
			<p>Josh is an exceptional UX professional. He's a talented designer, always looking for ways to push the boundaries of how we can make our products better.</p>
			<p>For Josh, a user must be the focus and the center of the product. <em>The experiences he designs are based on user research, ethical approach, and knowledge.</em></p>
			<p>Working with Josh is an absolute pleasure. I appreciate his constructive feedback and the way he communicates with the team. Josh knows what collaboration means. <em>He works hand in hand with designers, PMs, architects, and developers always results in great projects.</em></p>
			<p>And on top of that, I consider him a friend, always have a great attitude, and possess all the skillsets that you would want in a highly productive team member.</p>
		</div>
	</div>
	<div class="grid-thirds">
		<div class="grid-column">
			<h3>Joe Cotton</h3>
			<p class="subnote">Senior Engineer</strong><br>
				Jamf Software</p>
		</div>
		<div class="grid-double-column">
			<p>Josh is a fantastic UX designer and an excellent human being. He is intelligent, genuine and empathetic. <em>He is not afraid to stick up for the user</em> and brings valuable insight to any engineering implementation meeting he is involved with.</p>
			<p>I thoroughly enjoyed working with him at Jamf and 100% recommend him both as a UX designer and a person.</p>
		</div>
	</div>
	<div class="grid-thirds">
		<div class="grid-column">
			<h3>Alex Baker</h3>
			<p class="subnote">Engineering Architect<br>
				Jamf Software</p>
		</div>
		<div class="grid-double-column">
			<p>Josh is incredible. If you're looking for someone that is smart, knows the craft of user experience and design, while still being humble and able to work with a wide swath of others with different backgrounds then look no further. He's great at keeping the users' needs in the forefront and ego in the backseat.</p>
		</div>
	</div>
	<div class="grid-thirds">
		<div class="grid-column">
			<h3>Renee Schaefer</h3>
			<p class="subnote">Director, Information Experience<br>
				Code42 Software</p>
		</div>
		<div class="grid-double-column">
			<p>Josh is extremely bright, multi-talented, and an excellent communicator. He has a keen eye for design and user experience, and will always go the extra mile to do what's right for the customer/user. As a true team player, he has been a key go to person for the Code42 Information Experience team (not because he has to but because he wants to), as well as for his immediate teammates and other groups within Code42.</p>
		</div>
	</div>
	</div>
</section>