---
title: "Working with me"
layout: 'layouts/base.html'
permalink: "working-with-me/"
description: A primer on how I work, who I've worked with, and what others have said about me.
---

{% include "partials/primary-nav.html" %}

<section id="heading" class="greeting">
	<div class="container-narrow">
		<header>
			<h1>{{ title }}</h1>
			<p>A primer on how I work, who I've worked with, and what others have said.</p>
		</header>
	</div>
</section>
<section>
<div class="row container-narrow">
	<div class="double-column">
		<h2>Finding & solving problems</h2>
		<p>Understanding the needs of the people using our product, the skills of everyone that helps us build it, and creating an environment where feedback is a gift are the bedrocks of my practice. If we do not hear our userbase, we do <strong>not</strong> know what problems to address.</p>
		<p>Ethical research and design creates a more equitable world. I build teams, refine strategies, champion accessibility, and foster "yes-and" collaboration to breathe life into life-changing software.</p>
	</div>
</div>
</section>
<section>
<div class="row container-narrow">
	<div class="double-column">
		<h2>Obligatory logo wall</h2>
		<p>My work is used on millions of devices all over the globe <em>and</em> the <a href="https://twitter.com/jamfsoftware/status/778617416209272833">International Space Station</a> &mdash; literally out of this world. I've taken feedback and delivered on it for some amazing organizations, including:</p>
	</div>
</div>
<div class="logo-row">
	<picture>
		<source srcset="../img/logos/apple-d.svg" media="(prefers-color-scheme:dark)">
		<img src="../img/logos/apple.svg" alt="Apple Inc">
	</picture>
	<picture>
		<source srcset="../img/logos/pixar-d.svg" media="(prefers-color-scheme:dark)">
		<img src="../img/logos/pixar.svg" alt="Pixar">
	</picture>
	<picture>
		<source srcset="../img/logos/lucasfilm-d.svg" media="(prefers-color-scheme:dark)">
		<img src="../img/logos/lucasfilm.svg" alt="Lucasfilm">
	</picture>
	<picture>
		<img src="../img/logos/nasa.svg">
	</picture>
	<picture>
		<source srcset="../img/logos/ibm-d.svg" media="(prefers-color-scheme:dark)">
		<img src="../img/logos/ibm.svg" alt="IBM">
	</picture>
	<picture>
		<source srcset="../img/logos/osu-d.svg" media="(prefers-color-scheme:dark)">
		<img src="../img/logos/osu.svg" alt="The Ohio State University">
	</picture>
	<picture>
		<img src="../img/logos/sap.svg" alt="SAP">
	</picture>
</div>
<div class="row container-narrow">
	<div class="double-column">
		<h3>Focus on the individual</h3>
		<p>School districts large and small, alternative energy companies, volunteer animal shelters, upstart small business owners, and individuals of all walks of life right here on terra firma. These are the people I'm inspired to lift up the most. Fortune 500 companies will thrive at all costs while the majority of the population carry the burden. Using my experience and enthusiasm to elevate the common good </p>
	</div>
</div>
</section>